aliyun-python-sdk-core==2.13.5
aliyun-python-sdk-core-v3==2.13.3
aliyun-python-sdk-kms==2.6.0
autopep8==1.4.4
certifi==2019.6.16
chardet==3.0.4
Click==7.0
crcmod==1.7
Flask==1.1.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.4
Markdown==3.1.1
MarkupSafe==1.1.1
oss2==2.7.0
pycodestyle==2.5.0
pycryptodome==3.8.2
requests==2.22.0
urllib3==1.25.8
Werkzeug==0.15.4
